@font-face {
  font-family: 'primeicons';
  src: url('/fonts/primeicons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

$scale: 16px;

html {
  font-size: $scale;
  height: 100%;
  overflow-y: auto; /* Solo muestra scroll si es necesario */
}

body {
  margin: 0;
  padding: 0 !important;
  min-height: 100%;
  height: 100%; // ← añade esto
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

// Cuando PrimeVue abre un modal, no dejar que mueva nada
body.p-overflow-hidden {
  overflow: hidden !important;
  padding-right: 0 !important;
}
::-webkit-scrollbar {
    display: none;
}